<template lang="pug">
    div(style="padding: 3rem")
        h1 POST {{id}}
        loader(v-if="!loaded")
        div(v-else style="background: #bbb; padding: 10px; margin: 10px")
          span {{ post.hashable.description }}
          hr
          span {{ post.misc.author_address }}
        b-button(href="/") Zpet

</template>

<script>
import loader from '~/components/loader.vue'
export default {
    components: {
        loader
    },
    data () {
        return {
            post: '', 
            loaded: false
        }
    },
    computed: {
        id () {
            return Number(this.$route.params.id)
        }
    },
    mounted() {
        this.$axios.get(`http://www.apfel.cz/t/fut/data/posts.php?number=1&position=${this.id + 1}`)
        .then(e => {
            console.log(e)
            this.post = e.data.shift()
            this.loaded = true
        })
    }
}
</script>

<style lang="scss">
    body {
        background: gray;
    }
</style>

