<template lang="pug">
  div
    b-nav(tabs='')
      b-nav-item(:active="active === '/'" href="/") Index
      b-nav-item(:active="active === '/karel'" href="/karel") Karel
      b-nav-item Post
    nuxt
</template>

<script>

export default {
  components: {
  },
  computed: {
    active () {
      console.log(this.$route)
      return this.$route.path
    }
  }
}
</script>

