<template lang="pug">
  section.container
    div
      h1.title Karel Gott je nej!
      p post: {{post}}
      p autor: {{autor}}
      form(@submit.prevent="poslatPost")
        b-form-input(type="text" placeholder="zadej prispevek" v-model="post" required)
        b-form-input(type="text" placeholder="zadej prispevek" v-model="autor" required)
        b-alert(variant="danger" show) Nikdo neni dokonaly
        b-alert(variant="success" show) Funguji!
          b-badge(variant="danger" pill) testik
        b-button(type="submit") poslat
        b-button(@click = "rotateAll") changePosts
        b-button(@click = "modal = true" v-b-tooltip title="Co to dela!") modal
      b-alert(:show= "error" variant="danger") Doslo k chybe, zkuste to za chvili!
      a(v-for="post in postArray" :href="'/post/' + post.misc.id")
        .post(:class="{rotate: isActive}" style="padding: 10px; margin: 10px")
          span {{ post.hashable.description }}
          hr
          span {{ post.misc.author_address }}
    b-modal(v-model="modal" title="Ahojky" @ok="rotateAll")
      p Ja jsem krasny nadherny modal
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return{
      error: false,
      karel: 'adam',
      postArray: [],
      post: '',
      autor: '',
      isActive: false,
      modal: false
    }
  },
  mounted () {
    this.ziskatPosty()
    //setInterval(this.ziskatPosty, 1000)
  },
  created() {
    console.log('Test1');
  },
  methods: {
    async ziskatPosty () {
      const response = await this.$axios.get('http://www.apfel.cz/t/fut/data/init.php')
      const response2 = await this.$axios.get('http://www.apfel.cz/t/fut/data/posts.php?number=10&position=' + response.data.numberOfPosts)
      this.postArray = response2.data
    },
    poslatPost() {
      let data = new FormData()
      data.append('description', this.post)
      data.append('author_address', this.autor)
      this.$axios.post('http://www.apfel.cz/t/fut/data/upload.php', data)
      .then(e => {
        this.ziskatPosty()
        this.post = ''
        this.autor = ''
      })
      .catch (e => {
        this.error = true
      })

    },

    rotateAll() {
      console.log(this.isActive)
      this.isActive = true
      console.log(this.isActive)
      setTimeout(function(){
        this.isActive = false
        console.log(this.isActive)
        }, 6000)

    }
  }
}
</script>

<style lang="scss">

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.post {
  background: #cdd1d6;
  &:hover {
    box-shadow: 10px 10px 10px grey;
   
  }
 
  transition: all 2s;
}

 @keyframes mymove {
    0%  {background: blue; }
    25% {transform: rotate(360deg)}
    75% {transform: rotate(0deg)}
    100% {background: gray; }
}
.rotate {
   animation: mymove 5s;
}
</style>
